* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

.text {
    text-align: center;
    padding-bottom: 35px;
    background-color: #f2f2f2;
}
.list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
  }
.image {
    width: 100%;
    cursor: pointer;
    padding: 35px;
}
.image:hover {
    opacity: 0.8;
}
ul {
    list-style: none;;
}
.btn-dark {
    padding: 10px;
    color: white;
    text-align: center;  
}
.btn {
    border: 1px solid;
    border-radius: 10px;
}

.grid {
    
    display: flex;
  }
  
 .list {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    float: left;
}

.mov {
   font-size: 25px;
}

.two-btn {
    display: flex;
}

.cart {
    border-bottom: 1px solid;
}