<h1 class="text">Movie List</h1>

  
<button type="button"  (click)="onChangeView('grid')">Grid</button>
<button type="button" (click)="onChangeView('list')">List</button>

<div class="grid">
        
    
        <div [ngClass]="modeView"> 
    <div class="list" *ngFor="let movie of movies" (click)="addToCart(movie)">{{ movie.title }} {{movie.description }}
        <img class="image" [src]="movie.img">
        
       
        

        
        
        </div>
    </div>
    </div>








<ul><h1>Cart :</h1>
    <li *ngFor="let movie of cart; let i = index"(click)= "removeFromCart(i)">{{ movie.title }}
    <button class="btn" >Delete From Cart</button></li>
</ul>





